/* Fondo personalizado */
body {
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}

/* Estilo de la tarjeta con transparencia */
.card {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border: none; /* Eliminar el borde */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03); /* Aumentar ligeramente el tamaño al pasar el cursor */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Sombra más intensa al pasar el cursor */
}

/* Estilo del encabezado de la tarjeta */
.card-header {
    border-radius: 15px 15px 0 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
    color: #fff; /* Color del texto blanco */
    text-align: center;
    font-size: 24px;
    padding: 15px;
}

/* Estilo de los inputs */
.input-group-text {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo oscuro con transparencia */
    color: #fff;
    border-radius: 15px 0 0 15px;
}

.form-control {
    border-radius: 0 15px 15px 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
}

/* Botones personalizados */
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el cursor */
}

.btn-warning, .btn-danger {
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.btn-warning:hover, .btn-danger:hover {
    transform: scale(1.05); /* Efecto de agrandamiento en los botones de advertencia y peligro */
}

/* Estilo de la lista de productos */
.list-group-item {
    border: none;
    border-radius: 15px;
    background-color: rgba(248, 249, 250, 0.8); /* Fondo blanco con transparencia */
    margin-bottom: 10px;
}



